.container {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-side {
  margin-right: 20px;
}

.userBoard,
.boardToClick,
.PC {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px;
  width: 400px;
  margin: 0 auto;
  background-color: #78d4ff;
}

.userGrid,
.pcGrid,
.clickGrid {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c96c7;
  caret-color: transparent;
}

h1 {
  text-align: center;
  margin-left: 50px;
  margin-right: 20px;
}

.shipsCount {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}


.reset {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.reset:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.reset:focus {
  border-color: #4285f4;
  outline: none;
}